* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Georgia", sans-serif;
  height: 100%;
  background: linear-gradient(89deg, #1D898F 0%, #3E7CB3 31.77%, #726FB0 79.17%);

}

.content{
  width: 1800px;
  height: 800px;
  border-radius: 50px;
  background:linear-gradient(89deg, #74B3BC 0%, #94A9CE 31.77%, #94A9CE 79.17%);
  margin: 50px;
  position:relative;
  padding: 50px
}

.glavnaya{
  width: 1400px;
  height: 700px;
  border-radius: 50px;
  background:linear-gradient(89deg, #edfeff 0%, #d7eafa 31.77%, #e4e3fa 79.17%);
  position:relative;
  float: right;
  padding: 100px;
}


.h{
  margin: 30px;
  color: #533eb3;
  font-family: Georgia;
  font-style: bold;
  font-weight: 400;
  line-height: bold;
  
}

.book{
  position:absolute;
	left:700px;
	top:30px;
}




.menu{
  width: 280px;
  height: 700px;
  position:relative;
  float: left;
  overflow-y: auto;
}
.button {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  display: flex run-in;
  float: right;
  margin: 10px;

  width: 200px;
  height: 70px;
  border-radius: 70px;
  background-color: #ffffffd0;
  
  text-align: center;
  font-family: Georgia;
  font-size:  18px;
  font-style: bold;
  line-height: 0,5;

  transition: background-color 0.4s, color 0.4s; 
}

 .button.a{
  color: #1D898F;
  border: 3px solid #1D898F;
 }

 .button.a:hover {
  background-color: #1D898F;
  color: #ffffff;
  display : block;
 }
 .button.b{
  color: #008da6;
  border: 3px solid #008da6;
 }

 .button.b:hover {
  background-color: #008da6;
  color: #ffffff;
  display : block;
 }
 .button.c{
  color: #0085A6;
  border: 3px solid #0085A6;
 }

 .button.c:hover {
  background-color: #0085A6;
  color: #ffffff;
  display : block;
 }
 .button.d{
  color: #3e88b3;
  border: 3px solid #3e88b3;
 }

 .button.d:hover {
  background-color: #3e88b3;
  color: #ffffff;
  display : block;
 }
 .button.e{
  color: #3E7CB3;
  border: 3px solid #3E7CB3;
 }

 .button.e:hover {
  background-color: #3E7CB3;
  color: #ffffff;
  display : block;
 }
 .button.f{
  color:#3e67b3;
  border: 3px solid #3e67b3;
 }

 .button.f:hover {
  background-color: #3e67b3;
  color: #ffffff;
  display : block;
 }
 .button.g{
  color: #403eb3;
  border: 3px solid #403eb3;
 }
 .button.g:hover {
  background-color: #403eb3;
  color: #ffffff;
  display : block;
 }
 .button.h{
  color: #533eb3;
  border: 3px solid #533eb3;
 }

 .button.h:hover {
  background-color: #533eb3;
  color: #ffffff;
  display : block;
 }
 .button.i{
  color: #713eb3;
  border: 3px solid #713eb3;
 }

 .button.i:hover {
  background-color: #713eb3;
  color: #ffffff;
  display : block;
 }
 .button.j{
  color: #923eb3;
  border: 3px solid #923eb3;
 }

 .button.j:hover {
  background-color: #923eb3;
  color: #ffffff;
  display : block;
 }