* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Georgia", sans-serif;
  height: 100%;
  background: linear-gradient(303deg, #6E6DC1 0%, #DC8D8D 84.39%);
  scrollbar-color: #458245 #714826; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: auto;  /* толщина */c
}

.content{
  width: 1800px;
  height: 800px;
  border-radius: 50px;
  background:linear-gradient(303deg, #A7A4D7 0%, #eec5c5 84.39%);
  margin: 50px;
  position:relative;
  padding: 50px
}

.glavnaya{
  width: 1400px;
  height: 700px;
  border-radius: 50px;
  background:linear-gradient(303deg, #ecc1cc 0%, #ddd9e8.39%);
  position:relative;
  float: right;
  padding: 100px;
}

.menu{
  width: 280px;
  height: 700px;
  position:relative;
  float: left;
  overflow-y: auto;
}
.button {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  display: flex run-in;
  float: right;
  margin: 10px;

  width: 200px;
  height: 70px;
  border-radius: 70px;
  
  text-align: center;
  font-family: Georgia;
  font-size:  18px;
  font-style: normal;
  line-height: 0,5;

  transition: background-color 0.4s, color 0.4s; 
}

 .button.a{
  color: #5C59CE;
  border: 3px solid #5C59CE;
 }

 .button.a:hover {
  background-color: #5C59CE;;
  color: #ffffff;
  display : block;
 }
 .button.b{
  color: #6F6DC2;
  border: 3px solid #6F6DC2;
 }

 .button.b:hover {
  background-color: #6F6DC2;
  color: #ffffff;
  display : block;
 }
 .button.c{
  color: #8172B9;
  border: 3px solid #8172B9;
 }

 .button.c:hover {
  background-color: #8172B9;
  color: #ffffff;
  display : block;
 }
 .button.d{
  color: #9578B0;
  border: 3px solid #9578B0;
 }

 .button.d:hover {
  background-color: #9578B0;
  display : block;
 }
 .button.e{
  color: #A07CAA;
  border: 3px solid #A07CAA;
 }

 .button.e:hover {
  background-color: #A07CAA;
  color: #ffffff;
  display : block;
 }
 .button.f{
  color: #AD7FA4;
  border: 3px solid #AD7FA4;
 }

 .button.f:hover {
  background-color: #AD7FA4;
  color: #ffffff;
  display : block;
 }
 .button.g{
  color: #BB849D;
  border: 3px solid #BB849D;
 }

 .button.g:hover {
  background-color:#BB849D;
  color: #ffffff;
  display : block;
 }
 .button.h{
  color: #f37c7c;
  border: 3px solid #f37c7c;
 }

 .button.h:hover {
  background-color: #f37c7c;
  color: #ffffff;
  display : block;
 }